.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  font-family: 'Potta One', cursive;
  font-size: 72px;
  color: #0ccac4;
}

body {
  display: grid;
  place-content: center;
}
 /* fsffsfsfsfsfsf */
@media screen and (max-width: 320px) {
  .navbar-brand {
    margin-right: 0 !important;
    width: 79% !important;
  }
}

@media screen and (min-width: 426px){
    /* .main-page-container {
      grid-template-areas:
      "main-page-heading"
      "main-page-search"
      "main-page-card-list";
      grid-template-columns: 1fr;
      column-gap: 20px;
    } */
    h1 {
      font-size: 20px;
    }
}

@media screen and (max-width: 680px){
  /* .main-page-container {
    grid-template-areas:
    "main-page-heading main-page-heading"
    "main-page-search main-page-search"
    "main-page-card-list main-page-card-list";
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
  } */
  h1 {
    font-size: 20px;
  }
}

@media screen and (max-width: 860px){
  /* .main-page-container {
    grid-template-areas:
    ". main-page-heading ."
    ". main-page-search ."
    ". main-page-card-list .";
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
  } */
  h1 {
    font-size: 20px;
  }
}